/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */
/* Begin site styles below */
/* 5:6 minor third ratio, 1.2 */
html {
  font-size: 18px;
  line-height: 29px;
}
a{
  line-height: 0;
  color:white;
  text-decoration: none;
}
p, ul, ol {
  margin-top: 0em;
}
a:focus, a:hover{
  color: #560202;
  text-shadow: 0.15em 0.15em #F8A200;
}
body {
  background-color: #F8A200;
  font-size: 1em;
  line-height: 1.6111111em;
}
h1{
  font-size: 1.7222222em;
  line-height: 1.87096774em;
  margin-top: 0.93548387em;
  margin-bottom: 1.87096774em;
}
h2{
  font-size: 1.4444444em;
  line-height: 1.11538462em;
  margin-top: 1.11538462em;
  margin-bottom: 1.11538462em;
}
h3{
  font-size: 1.22222222em;
  line-height: 1.31818182em;
  margin-top: 1.31818182em;
  margin-bottom: 0em;
}
h4 {
  font-size: 1em;
  line-height: 1.6111111em;
  margin-top: 1.6111111em;
  margin-bottom: 0em;
}

#head{
  font-size: 2em;
  border: 0.2em ridge;
  text-shadow: 0.15em 0.15em black;
  padding-bottom: 1.115em;
  text-align: center;
  background-color: #F86C00;
  color: white;
  font-family: 'Permanent Marker', cursive;
}
#head h1{
  margin-top: 0em;
  margin-bottom: 0em;
}
#navigation li{
  display: inline;
  padding: 0em 4em 0em 4em;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  display: flex;
  color: white;
  text-align: center;
  padding: 0.778em 0.889em;
  text-decoration: none;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 33.333em) {
  .topnav a {
    float: none;
    align-items: center;
  }
}
h1{
  font-size: 1.625em;
}
